* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: #404040;
}

/*  typography  */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #FFF;
  margin: 0;
}

/*Only selects the p directly after h1*/
h1 + p {
  color: #F18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

/*Only selects the p directly after h2*/
h2 + p {
  font-weight: 900;
  color: #F18119;
  text-transform: uppercase;
  margin-top: 0;
}

strong {
  font-weight: 900;
}

.text-ontop {
  font-size: 0.625rem;
  color: #F18119;
  font-weight: 900;
  text-transform: uppercase;
  order: -1;
  letter-spacing: 1px;
  border-top: 6px solid #F18119;
  margin-top: 0;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/*  intro section  */

.intro {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  background-image: url(../images/dark-ribs.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 .5em 2em;
  justify-content: space-between;
  min-height: 50vh;
}

/*  main-content section*/

.main-content {
  padding: 2em 1em;
}

.intro > *,
.main-content > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/*  form  */

.email-collector {
  width: 80%;
  max-width: 300px;
}

input,
.btn {
  width: 100%;
  border-radius: 5px;
}

input {
  text-align: center;
  margin-bottom: .75em;
  padding: 5px;
  font-family: inherit;
  border: 1px solid #404040;
  font-size: 14px;
  transform: scale(1);
  transition: transform 250ms;
}

input:focus {
  transform: scale(1.02);
}

.btn {
  text-transform: uppercase;
  border: 0;
  display: inline-block;
  padding: 1em 1.5em;
  font-weight: 900; 
  letter-spacing: 1px;
  font-size: 0.675rem;
  cursor: pointer;
}

.btn-primary {
  background-image: linear-gradient(to left, #FF713B, #FFA51D);
  color: #FFF;
  transition: transform 250ms;
  transform: scale(1);
}

.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.02);
}

/*  media queries */

@media (min-width: 530px) {
  body {
    font-size: 1.125rem;
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-size: 3.5rem;
  }

  h1 + p,
  h2 {
    font-size: 1.75rem;
  }

  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}